<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thrifa.ruofei.bus_locator">

    <permission
        android:name="com.thrifa.ruofei.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--<uses-permission android:name="com.thrifa.ruofei.bus_locator.permission.MAPS_RECEIVE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>

    <!--<application-->
        <!--android:allowBackup="true"-->
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app_name"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@style/AppTheme">-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <!--android:name="android.support.multidex.MultiDexApplication"-->

        <!--
             The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
             Google Maps Android API v2, but you must specify either coarse or fine
             location permissions for the 'MyLocation' functionality.
        -->
        <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
        <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
        <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->

        <activity android:name="com.thrifa.ruofei.bus_locator.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.thrifa.ruofei.bus_locator.routes.RouteListActivity"
            android:theme="@style/AppTheme.CustomTheme"
            android:parentActivityName="com.thrifa.ruofei.bus_locator.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thrifa.ruofei.bus_locator.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDCDYoiyBgsn8Imhscv417hwyW5sErNaKc" />
        <!--android:value="AIzaSyD1NV2Ce6weowOIj9qlM9S6Hp9ZXNvDmfw" />-->

        <activity android:name="com.thrifa.ruofei.bus_locator.busstop.BusStopListActivity" />

         <service
         android:name=".service.ThrifaBackgroundService"
         android:label="Bus StatusUpdateService" >
         <intent-filter>
         <action android:name="android.intent.action.BROADCAST_NEW_BUS_REMAINING_TIME"/>
         </intent-filter>
         </service>

        <service android:name="com.thrifa.ruofei.bus_locator.service.FirebaseBusMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- <service -->
        <!-- android:name=".MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <service android:name="com.thrifa.ruofei.bus_locator.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.thrifa.ruofei.bus_locator.busstop.BusStopPopupActivity"
            android:theme="@style/AppTheme.CustomTheme"
            ></activity>

        <service
            android:name=".service.AlarmService"
            android:exported="false"/>
        <!--<provider-->
            <!--android:authorities="com.thirfa.roufie"-->
            <!--android:name=""-->
    </application>

</manifest>